<div class="mt-4 mx-auto max-w-lg text-right">
  <a href="https://github.com/mocra/subfolder-rails-activestorage-blobs">
    <img height="20" src="https://img.shields.io/github/stars/mocra/subfolder-rails-activestorage-blobs.svg?style=social&label=Star&maxAge=36000">
  </a>
</div>
<div class="p-4 mx-auto mt-2 max-w-lg bg-white border rounded-md">
  <div class="md:flex md:items-center md:justify-between">
    <div class="prose lg:prose-xl flex-1 min-w-0">
      <h2>
        Photos
      </h2>
    </div>
    <div class="flex mt-4 md:mt-0 md:ml-4">
      <%= link_to 'New Photo', new_photo_path, class: "btn btn-primary" %>
    </div>

  </div>
  <p id="notice" class="flex mt-4 text-green-500"><%= notice %></p>
  <ul class="mt-4 space-y-6">
    <% @photos.each do |photo| %>
    <% if photo.image.attached? %>
    <li class="card compact shadow-md">
      <figure><%= image_tag photo.image, class: "rounded-sm", height: 300 %></figure>
      <div class="card-body">
        <span class="text-xs px-1">blob key &mdash; <%= photo.image.key %></span>
      </div>
    </li>
    <% end %>
    <% end %>
  </ul>
</div>
